<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
</head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <article data-theme="dark">
<body>
    <h1>Search Results for "{{ keyword }}"</h1>
    <table>
        <tbody>
            {% for row in data %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>